In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-11-10 04:30:51,-46.6000,168.3333,58.80,66,0,16.15
1,1,Castro,BR,2022-11-10 04:30:51,-24.7911,-50.0119,53.42,75,5,2.64
2,2,Dwarka,IN,2022-11-10 04:30:51,22.2394,68.9678,83.10,51,4,8.30
3,3,Faanui,PF,2022-11-10 04:30:52,-16.4833,-151.7500,79.18,78,99,14.74
4,4,Krasnyy Chikoy,RU,2022-11-10 04:30:52,50.3643,108.7512,31.06,87,100,5.50

In [3]:
# Confirm data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# get rid of negative max temps for heat map doing this?
#city_data_df = city_data_df[city_data_df["Max Temp"] >= 0]
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [12]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Dwarka,IN,2022-11-10 04:30:51,22.2394,68.9678,83.10,51,4,8.30
3,3,Faanui,PF,2022-11-10 04:30:52,-16.4833,-151.7500,79.18,78,99,14.74
14,14,Changde,CN,2022-11-10 04:30:54,29.0464,111.6783,78.87,45,70,0.11
25,25,Lufilufi,WS,2022-11-10 04:30:57,-13.8745,-171.5986,85.78,80,89,14.12
34,34,Cabo San Lucas,MX,2022-11-10 04:26:58,22.8909,-109.9124,75.61,68,48,5.01
37,37,Semporna,MY,2022-11-10 04:31:00,4.4818,118.6112,85.78,68,95,1.25
44,44,Butaritari,KI,2022-11-10 04:31:03,3.0707,172.7902,82.29,72,97,17.85
47,47,Samarai,PG,2022-11-10 04:32:04,-10.6167,150.6667,83.26,66,11,13.24
48,48,Kalianget,ID,2022-11-10 04:32:05,-7.0500,113.9333,85.57,66,96,4.27
52,52,Saint-Philippe,RE,2022-11-10 04:32:06,-21.3585,55.7679,78.39,65,44,8.63

In [34]:
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Dwarka      IN     83.10  22.2394   68.9678
3           Faanui      PF     79.18 -16.4833 -151.7500
14         Changde      CN     78.87  29.0464  111.6783
25        Lufilufi      WS     85.78 -13.8745 -171.5986
34  Cabo San Lucas      MX     75.61  22.8909 -109.9124
37        Semporna      MY     85.78   4.4818  118.6112
44      Butaritari      KI     82.29   3.0707  172.7902
47         Samarai      PG     83.26 -10.6167  150.6667
48       Kalianget      ID     85.57  -7.0500  113.9333
52  Saint-Philippe      RE     78.39 -21.3585   55.7679

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
# Print first 10 rows of hotel_df DataFrame.
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Dwarka,IN,83.10,22.2394,68.9678,Hotel Narayan Avezika Comfort
3,Faanui,PF,79.18,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
14,Changde,CN,78.87,29.0464,111.6783,Kangshida Hotel
25,Lufilufi,WS,85.78,-13.8745,-171.5986,Leuaina Beach Resort
34,Cabo San Lucas,MX,75.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
37,Semporna,MY,85.78,4.4818,118.6112,"Han Palace Hotel, Semporna, Sabah."
44,Butaritari,KI,82.29,3.0707,172.7902,Isles Sunset Lodge
47,Samarai,PG,83.26,-10.6167,150.6667,Nuli Sapi
48,Kalianget,ID,85.57,-7.0500,113.9333,Pesanggrahan Garam
52,Saint-Philippe,RE,78.39,-21.3585,55.7679,Le four à pain

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))